* {
  border: solid pink 2px
}
body {
  font-family: "Comic Sans MS", "Comic Sans";
  height: 100vh;
  width: 100vw;
  display: flex;
  margin: 0px;
  overflow-y: hidden;

}
h1 {
font-family: "Comic Sans MS", "Comic Sans";
font-size: 100px;
height: 30%;
width: auto;
margin-top: 10px;

}

.left-side {
  height: 100vh;
  width: 80%;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  border-right-style: solid;
  border-color: black;
}

.palette-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0px;
}


.color-box {
  height: 175px;
  width: 175px;
  border: solid;
  border-color: black;
  margin: 10px;
}

.color-1-box {
background-color: green;
}

.color-2-box {
background-color: red;
}

.color-3-box {
background-color: blue;
}

.color-4-box {
background-color: orange;
}

.color-5-box {
background-color: purple;
}

.hex-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

p {
  font-size: 20px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-top: 10px;
}

svg {
  height: 35px;
  width: 35px;
  margin: 0px;
}

.buttons-bottom {
  display: flex;
  justify-content: space-evenly;
}

.button-main-page {
  height: 40px;
  width: 175px;
  margin-bottom: 100px;
  margin-left: 75px;
  margin-right: 75px;
}

.saved-palette-section {
  height: 100vh;
  width: 25%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.section {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0px;
}

.mini-colors-container {
  display: flex;
  justify-content: center;
  width: 100%;
  /* margin: 20px; */
  
  margin-bottom: 15px;
}

.mini-colors {
  height: 40px;
  width: 40px;
  border: solid;
  border-color: black;
  margin: 10px;
}

.mini-1-colors {
  background-color: red;
}

.mini-2-colors {
  background-color: blue;
}

.mini-3-colors {
  background-color: red;
}

.mini-4-colors {
  background-color: orange;
}

.mini-5-colors {
  background-color: black;
}


.delete-icon {
  height: 5px;
  width: 5px;
  border: none;
  margin: none;
}